[Unit]
Description=Minecraft Server
After=network.target

[Service]
WorkingDirectory={{ minecraft_server_home }}

User={{ user }}
Group={{ group }}

Restart=always

# start cmd
ExecStartPre=/bin/sleep 15
ExecStart=/usr/bin/screen -DmS {{ screen_name }} /usr/bin/java -Xms{{ ram_min }}G -Xmx{{ ram_max }}G -jar {{ forge_server_run_file }} nogui

# stop cmd
# timeout before stop
ExecStop=/usr/bin/screen -rx {{ screen_name }} -X stuff "/say Alert! Selahaddin is comming. The Kingdom Come in 15 seconds.....\n"
ExecStop=/bin/sleep 5

ExecStop=/usr/bin/screen -rx {{ screen_name }} -X stuff "/say The Kingdom Come in 10 seconds...\n"
ExecStop=/bin/sleep 5

ExecStop=/usr/bin/screen -rx {{ screen_name }} -X stuff "/say The Kingdom Come in 5 seconds...\n"
ExecStop=/bin/sleep 5

ExecStop=/usr/bin/screen -rx {{ screen_name }} -X stuff "/say Rest In Peace\n"
ExecStop=/bin/sleep 1

# save & backup server world
ExecStop=/usr/bin/screen -rx {{ screen_name }} -X stuff "/save-all\n"

# stop server
ExecStop=/usr/bin/screen -rx {{ screen_name }} -X stuff "/stop\n"

ExecStopPost=/bin/sleep 5

[Install]
WantedBy=multi-user.target
